extends layout

block content
  h1= title
  if catagory_list.length
    ul
      each catagory in catagory_list
            .container
                .mon
                    .product
                        //Nếu có ảnh của món tên là "tên catagory".jpg thì hiển thị nó. Nếu không thì hiển thị ảnh default là bánh quy gì gì đó.
                        img.sp(src=`/images/${catagory.name}.jpg` onerror="this.onerror=null; this.src='/images/crinkle cookies.jpg'")
                        .thongtin
                            li
                                a.ten(href=catagory.url) #{catagory.name}

  else
    p There are no catagories.
