extends layout

block content
  h1= title
  p Welcome to #{title}
  li
              li
                a(href='/main/foods') All foods
              li
                a(href='/main/food/create') Create new food
              li 
                a(href='/main/catagory/create') Create new catagory