doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title  Test
  link(href='/stylesheets/style.css' rel='stylesheet' type='text/css')
// phantop
.top
  .menu
    #divleft
      ul
        li
          a(href='/main') HOME
        li
          a(href='/main/foods') All Foods
        li 
          a(href='/main/catagories') Catagory
        li
          a(href='/main/food/create') Create new food
        li 
          a(href='/main/catagory/create') Create new catagory
    #divright
      form(action='Abc.php')
        input#txt(type='text' placeholder='search')
        input(type='submit')
    .giohang
      a(href='Cart.html')
        img.gh(src='/images/shopping-cart.png' alt='hinh1')
block content

footer
  // thongtin
  span#i4 INFORMATION
  br
  .container
    .infor
      #follow
        h3 Follow Us
        br
        ul
          li
            a(href='##')
              span#Google.social
              span.txt Google
            br
          li
            a(href='##')
              span#Facebook.social
              span.txt Facebook
            br
          li
            a(href='##')
              span#Instagram.social
              span.txt Instagram
            br
      #follow
        h3 Store
        br
        ul
          li
            a(href='demobtl.html') HOME
          li
            a(href='Newproducts.html') New Products
          li
            a(href='Mostpopular.html') Most Popular
          li
            a(href='category.html') Category Cake
          li
            a(href='Drinks.html') Drinks
      #follow
        h3 Contact Us
        br
        ul
          li
            a Open: 8:30 AM - 22:30 PM
          br
          li
            a Email: banana@gmail.com
          br
          li
            a
              span#phone.social
              span.txt 0395678928
          br
  // ketthucthongtin
