html{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(85, 82, 82);
    color:white;
    margin:auto;
    max-width: 960px;/* cho website ra giữa*/
}

  .column {
    float: left;
    padding: 20px;
  }
  
  /* Bỏ khoảng trắng sau cột */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .left{
    width: 25%;
  }

  .right{
    width: 75%;
  }

.profile{
    animation-duration: 2s;
    animation-name: slidein;
    animation-iteration-count: 1;
    background-color: gray;
    border-radius: 20px;
  }

.experience{
    animation-duration: 2s;
    animation-name: slidein;
    animation-iteration-count: 1;
    background-color: rgb(97, 94, 94);
  }

.likes {
    animation-duration: 2s;
    animation-name: slidein;
    animation-iteration-count: 1;
    background-color: lightgray;
    border-radius: 5px;
    color:black;
  }

.contact_info{
    animation-duration: 2s;
    animation-name: slidein;
    animation-iteration-count: 1;
      border: 10px solid black;
  }

@keyframes slidein{
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
}

h1, h2{
    text-align: center;
}

a:link {
  transition: all 5s linear 0;
  color: blue;
}
a:hover {
  color: hsl(36,100%,50%);
}

.img {
  border: 5px solid #8b2;
}

.projects{
  width: 200px;
  padding: 30px;
  margin: 5px;
  background-color: gray;
  color:white;
  border-radius: 5px;
}
